<h2>Pagina de registro de usuarios vendedores</h2>

<form action="/auth/signup/vendedor/{{userVendedor._id}}" method="post">
    <label for="username">Nombre de empresa: {{userVendedor.username}}</label>
    {{!-- <input type="text" name="username" value="{{userVendedor.username}}"> --}}
    <br>
    <label for="email">Correo Electronico: {{userVendedor.email}}</label>
    {{!-- <input type="text" name="email" value="{{userVendedor.email}}"> --}}
    <br>
    <label for="cif">CIF</label>
    <input type="text" name="cif" value="{{userVendedor.cif}}">
    <br>
    <label for="telefono">Telefono de Contacto</label>
    <input type="number" name="telefono" value="{{userVendedor.telefono}}">
    <br>
    
    
    <br>
    <button>Registrar</button>
    <br>
</form>