<div id="container-product">
    
    {{#each allProduct}}
        <a href="/product/{{this._id}}/details">
            <div id="product">
                {{!-- <img src="/images/IA.jpg" alt="IA" width="100px"> --}}
                <br>
                <h3>{{this.nombre}}</h3>
                <h5>{{this.precio}}</h2>
                <br>
                <p>{{this.descripcion}}</p>
                <p>{{this.vendedor.username}}</p>
            </div>   
        </a>
    {{/each}}

</div>