<div class="col-lg-4 mt-5offset-lg-4 col-md-6 offset-md-3 col-12">
    <div class="card shadow-lg col-lg-4 mt-5 p-3 offset-lg-4 col-md-6 offset-md-3 col-12  bg-white rounded" style="width: 20rem;">
      <img class="img-fluid mx-auto d-block rounded" 
        src="{{img}}" alt="img" width="300px" />
        <br>
      <div class="d-flex flex-column align-items-center">
        <h2>{{nombre}}</h2>
        <h2>{{vendedor.username}}</h2>
        <h4>{{precio}}€</h4>
        <br>
        <div class="form-group">
          <form action="/product/{{_id}}/contact" method="post">
            <label for="mensaje">realice aquí su puja</label>
            <input class="form-control" type="number" name="mensaje" value="{{precio}}" min="1">
            <br>
            <button class="btn btn-success mb-2 ">Enviar</button>
          </form>
          <a href="/user/perfCliente">
            <button class="btn btn-warning mb-2 ">Atras</button>
          </a>
        </div>
      </div>
    </div>
</div>