<div class="d-flex flex-row mt-3">
{{!-- contenedor mensajes --}}
  <div class ="d-flex flex-column justify-content-start flex-wrap">
      {{#each todosLosMensajes}}   
        <div class=" card shadow-lg mt-3 p-3 pb-0 bg-white rounded" style="width: 16rem;">
            <h2 class="mb-4">{{this.producto.nombre}}</h2>
            <h2>Puja:{{mensaje}}€</h2>
            <h3>{{this.estadoPuja}}</h3>
            <div class="d-flex flex-row justify-content-center justify-content-evenly mt-3">
              <form action="/user/{{this._id}}/delete" method="post">
                <button class="btn btn-danger">Anular puja</button>
              </form>
                {{#if ../valorPuja}}
                <form action="">
                  <button class="btn btn-success">Comprar</button>
                </form>
                {{else}}
                {{/if}}
            </div>
        </div>
      {{/each}}
    </div> 
{{!-- contenedor prductos --}}
  <div class="d-flex flex-row justify-content-start flex-wrap ml-5">
      {{#each allProduct}}
      <div class="card shadow-lg p-1 mt-3 mr-5  bg-white rounded" style="width: 20rem;">
        <a href="/product/{{this._id}}/details">
            <img class="card-img-top" src={{this.img}} alt="img" height="200rem">
            <div class="card-body pb-0 bg-gradient bg-opacity-75">
              <div class="d-flex flex-column align-items-center">
                <h3>{{this.nombre}}</h3>
                <h5>{{this.precio}}</h2>
                <p>{{this.descripcion}}</p>
              </div>
                <div class="d-flex flex-row justify-content-evenly align-content-end">
                  <a href="/product/{{this._id}}/contact">
                  <button class="btn btn-info">Contactar con Vendedor</button>
                  </a>
                  </form>
                </div>
            </div>
          </a>
      </div>
        {{/each}}
    </div> 
  </div>

</div>